@import "variables.css";
/* 
    1.Posicionamiento
    2. Modelo de caja (Box model)
    3. Tipografía
    4. Visuales
    5. Otos
    */

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 320px;
	text-align: center;
	background: linear-gradient(
		207.8deg,
		var(--black) 16.69%,
		var(--bitcoin-orange) 100%
	);
}

header img {
	width: 150px;
	height: 24px;
	margin-top: 40px;
	align-self: center;
}

.header--title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header--title-container h1 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.header--title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button {
	position: absolute;
	display: block;
	top: 260px;
	margin-top: 35px;
	padding: 15px;
	width: 230px;
	height: 48px;
	background-color: var(--of-white);
	/* Sombra */
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 8px var(--grey);
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.header--button span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 10px;
	transform: rotate(90deg);
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

main {
	width: 100%;
	height: auto;
	background-color: var(--of-white);
}

.main-exchange-container {
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}

.main-exchange-container--title {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}
.main-exchange-container .background-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url("/crypto-page-mobile/assets/images/bitcoin.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-exchange-container h2 {
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.main-exchange-container p {
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
.main-currency-table {
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 auto;
	font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
	margin-bottom: 14px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	text-align: left;
	color: var(--bitcoin-orange);
}

.currency-table--container {
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 250px;
	margin: 0 auto;
}

.currency-table--container table {
	width: 100%;
	height: 100%;
}

.currency-table--container td {
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--warm-black);
	background-color: var(--just-white);
}

.currency-table--container .table__top-left {
	border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
	border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
	border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
	border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.7rem;
	color: #757575;
}
.currency-table--container .down {
	color: #f44336;
	margin-left: 8px;
}
.currency-table--container .up {
	color: #4caf50;
	margin-left: 8px;
}

.main-currency-table .currency-table--date {
	width: 250px;
	height: 35px;
	margin: 0 auto;
	margin-top: 16px;
	padding: 8px;
	border-radius: 8px;
	background-color: var(--soft-orange);
}

.currency-table--date p {
	margin: 0 auto;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: var(--warm-black);
}

.main-currency-table .title-of-second-table {
	color: var(--secundary-blue);
}

.main-currency-table .date-of-second-table {
	background-color: #e7f5ff;
}

.main-product-detail {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}

.main-product-detail .product-detail--batata {
	position: absolute;
	width: 40px;
	height: 25px;
	background-image: url("/crypto-page-mobile/assets/images/chip.svg");
	top: -10px;
	left: calc(50% - 25px);
}

.product-detail--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-top: 44px;
	text-align: center;
}

.product-detail--title h2 {
	margin-bottom: 20px;
	font-size: 2.4rem;
	line-height: 2.6rem;
	font-weight: bold;
	color: var(--just-white);
}

.product-detail--title p {
	margin-bottom: 24px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

.product-detail--card {
	width: 90%;
	min-width: 282px;
	max-width: 400px;
	height: auto;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.material-symbols-outlined {
	color: var(--bitcoin-orange);
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 2.4rem;
}

.product-detail--card .product--card-title {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.8rem;
	color: var(--just-white);
	margin-top: 8px;
}
.product-detail--card .product--card-body {
	color: #808080;
	font-weight: 500;
	font-size: 1.4rem;
	margin-top: 16px;
	line-height: 1.8rem;
}
.bitcoin-img-container {
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url("https://images.pexels.com/photos/2228570/pexels-photo-2228570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.bitcoin-img-container .filtro {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #d3883b;
	opacity: 0.6;
}
#bitcoin-img-container--title {
	z-index: 1;
	font-size: 2.6rem;
	color: var(--just-white);
	position: absolute;
	text-align: center;
	top: 60px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
}

.main-plans-container {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
	height: auto;
}

.plans--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
}

.plans--title h2 {
	padding-top: 50px;
	font-size: 2.4rem;
	line-height: 2.6rem;
	text-align: center;
	font-weight: bold;
	color: var(--warm-black);
	margin-bottom: 50px;
}

.plans--title p {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

.plans-container--slider {
	display: flex;
	height: 316px;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
	padding-left: 16px;
	padding-right: 16px;
}

.plans-container--card {
	position: relative;
	scroll-snap-align: center;
	width: 70%;
	min-width: 290px;
	max-width: 300px;
	height: 238px;
	margin: 50px 14px 0;
	padding: 0 15px;
	border-color: var(--just-white);
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.16);
}

.plans-container--card .recomended {
	position: absolute;
	top: -15px;
	left: calc(50% - 55px);
	display: inline-block;
	width: 110px;
	height: 31px;
	background-color: var(--bitcoin-orange);
	border-radius: 8px;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.5rem;
	text-align: center;
	color: var(--just-white);
	padding-top: 8px;
}

.plan-info-container {
	padding-top: 36px;
}

.plan-info-container .plan-card--title {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: #181818;
}
.plan-info-container .plan-card--price {
	font-size: 5.2rem;
	font-weight: 700;
}

.plan-card--price sup {
	font-size: 1.2rem;
	color: var(--warm-black);
}
.plan-info-container .plan-card--saving {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: #808080;
	margin-bottom: 20px;
}

.plan-info-container .plan-card--ca {
	width: 70%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border-radius: 4px;
	border: 2px solid var(--bitcoin-orange);
	background-color: var(--just-white);
	font-size: 1.4rem;
	line-height: 1.8rem;
	font-weight: 700;
	color: var(--warm-black);
}
.plan-info-container .plan-card--ca span {
	margin-top: 4px;
	margin-left: 8px;
}

footer {
	width: 100%;
	min-width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: var(--bitcoin-orange);
}

footer .footer-links {
	font-size: 1.4rem;
	line-height: 1.8rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 50px;
}

.footer-links a {
	color: var(--just-white);
	font-weight: 500;
	text-decoration: none;
	margin-top: 12px;
}

.footer-reservaded figure {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

figure img {
	margin: 0 auto;
}

.footer-reservaded figure figcaption {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.8rem;
	text-align: center;
	color: var(--soft-orange);
	margin-top: 12px;
}
