:root {
	/*  Colors */

	--bitcoin-orange: #ff9536;
	--soft-orange: #ffe9d5;
	--secundary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black: #282623;
	--grey: #d9d9d9;
	--of-white: #f6f5f5;
	--just-white: #eeecec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
	/*font-family: 'Inter', sans-serif;*/
}
